@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Candal);
* {
    box-sizing: border-box;
}

:root {
    --one: rgb(70, 30, 82, 0.7);
    --two: rgb(221, 81, 127);
    --three: rgb(85, 49, 193);
    --four: rgb(160, 185, 206);
    --five: rgb(185, 70, 179);
}

/* body */
body {
    font: 16px Arial;
    margin: 0px;
    padding: 0px;
    /* font-family: "Asap", sans-serif; */
    background-color: #fdfdfe;
}
/* header */
header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--one);
}
header h1 {
    font-size: 7vw;
    position: absolute;
    text-align: center;
    width: 90%;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #553c9a,
        #ee4b2b,
        #1a10d7,
        #ff7f50,
        #553c9a
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 5s infinite alternate-reverse;

    -webkit-text-stroke: 1px white; /* width and color */
    font-family: "Candal", sans-serif;
}
/* main */
main {
    padding: 40px;
}
/* input Elements */
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 20px;
}
input[type="text"] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
}
/* button Elements */
button.urbanArea {
    height: 50px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #00c2cb;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    flex-basis: 100%;
}

button.urbanArea:hover {
    color: black;
    background-color: rgb(197, 236, 42);
    font-size: 22px;
    transform: translateY(-5px);
    box-shadow: rgba(91, 93, 50, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* span */
span {
    margin-left: 10px;
    font-size: 30px;
}

/* display section */
.row {
    justify-content: center;
    margin: 0px;
}

/* classes */
/* autocomplete */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#searchSection form {
    text-align: center;
    margin-bottom: 20px;
}

#searchSection {
    border-style: double;
    border-radius: 20px;
    border-color: red;
    padding-top: 20px;
    background-color: rgba(17, 0, 255, 0.3);
}

#stateErrorContainer {
    height: 45px;
    text-align: center;
}

.accordion-collapse {
    background-color: rgba(255, 0, 0, 0.3);
    color: darkslateblue;
    font-weight: bold;
}

.accordion-button.collapsed {
    background-color: rgba(103, 4, 134, 0.736);
}

/* transparency & color for accordion upon click */
/* remove later if unwanted */
.accordion {
    --bs-accordion-bg: rgba(17, 0, 255, 0.4);
    --bs-accordion-active-bg: white;
}

.accordion-body {
    color: white;
    font-size: 20px;
    font-style: italic;
}

/* style modal */

.modal-header {
    /* font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif; */
    background: linear-gradient(135deg, hsl(300, 100%, 61%), hsl(0, 100%, 52%));
    /* box-shadow: 0 1rem 2rem #000a; */
}
.modal-body {
    background-color: #00c2cb;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
.modal-footer {
    background: linear-gradient(135deg, hsl(300, 100%, 61%), hsl(0, 100%, 52%));
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
.nav-link {
    -webkit-text-stroke: 1px black; /* width and color */
}
.catTitle {
    color: red;
    font-weight: bolder;
    text-align: center;
}

.subCatTitle {
    color: blue;
    font-weight: bold;
}

.legendText {
    color: purple;
}

#footerButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.accordionCatText {
    color: #00c2cb;
    font-weight: bolder;
    margin-bottom: 0px;
    font-size: 25px;
    -webkit-text-stroke: 0.2px white; /* width and color */
}
.uaSubCat {
    color: #ee4b2b;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#modalBtn {
    position: absolute;
    top: 20px;
    right: 30px;
}

#modalMusicBtn {
    position: absolute;
    top: 20px;
    left: 30px;
    /* border-color: white; */
}

.audioBtn {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    background: #9411a8;
    padding: 1.1rem 3.4rem;
    border-radius: 0.9rem;
    transition: opacity 0.2s;
    font-family: "Permanent Marker", cursive;
}
.musicButtonContainer {
    text-align: center;
}

.audioBtn:hover {
    cursor: pointer;
    background: #720b81;
}

.songTitle {
    margin-right: 42px;
    color: rgb(77, 76, 76);
    font-size: 15px;
    font-family: "Permanent Marker", cursive;
}

#music1 {
    justify-content: center;
}

.musicHeader {
    display: inline;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 69px;
    font-family: "Permanent Marker", cursive;
}

.musicHeaderContainer {
    text-align: center;
    margin-left: 40px;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#speakerImg {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 160px;
}

#volume {
    padding: 0px;
    margin: 0px;
    height: 10px;
}

#volumeContainer {
    text-align: center;
    padding: 10px;
    padding-bottom: 15px;
    color: white;
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    -webkit-text-stroke: 1px black; /* width and color */
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

#UAcontainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#urbanAreaName {
    font-size: 70px;
    margin: 0px;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    padding: 20px;
    color: white;
    width: 90%;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right, white);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 15s infinite;

    -webkit-text-stroke: 1px black; /* width and color */
}
container {
    border-radius: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
#clearBtn {
    display: none;
    justify-content: center;
}

/* key frames */
@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}

/* media querries */
@media screen and (max-width: 910px) {
    #urbanAreaName {
        font-size: 7vw;
    }
}

@media screen and (max-width: 650px) {
    #urbanAreaName {
        font-size: 6vw;
    }
}
